# Archivos de configuración del entorno de desarrollo
.vscode/

# Dependencias de Node.js, se instalan dentro del contenedor
node_modules/

# Archivos de log de NPM
npm-debug.log*

# El resultado de la construcción. No necesitamos copiarlo, se genera dentro.
dist/

# El propio Dockerfile no necesita estar dentro de la imagen
Dockerfile